@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  min-height: 100vh;
}
html body {
  font-family: "Rubik";
  background-color: #0f1424;
  min-height: 100vh;
}
html body .root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
html body .root .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  padding: 1.5rem;
  gap: 1.5rem;
}
html body .root .grid .card {
  min-height: 100%;
}
html body .root .grid .card .container {
  padding: 2rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.1s;
}
html body .root .grid .card.profile {
  grid-row: 1/span 2;
  display: flex;
  flex-direction: column;
}
html body .root .grid .card.profile .container {
  flex: 1;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  background-color: #5847eb;
  margin-bottom: -10px;
  z-index: 1;
}
html body .root .grid .card.profile .container .image {
  width: 65px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #fafafa;
  padding: 2px;
}
html body .root .grid .card.profile .container .label {
  margin-top: 1.5rem;
  font-weight: 400;
  color: #bdc1ff;
}
html body .root .grid .card.profile .container .title {
  font-weight: 300;
  margin-top: 0rem;
  font-size: 2rem;
  color: #fafafa;
}
html body .root .grid .card.profile nav {
  padding: 1.5rem;
  background-color: #1c1f4a;
  border-radius: 10px;
  padding-top: calc(1.5rem + 10px);
}
html body .root .grid .card.profile nav .list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
html body .root .grid .card.profile nav .list .item {
  font-weight: 400;
}
html body .root .grid .card.profile nav .list .item .link {
  text-decoration: none;
  color: #bdc1ff;
  transition: color 0.1s;
}
html body .root .grid .card.profile nav .list .item .link:hover, html body .root .grid .card.profile nav .list .item .link.active {
  color: #f0f1ff;
}
html body .root .grid .card.state {
  display: flex;
  flex-direction: column;
}
html body .root .grid .card.state::before {
  content: "";
  height: 55px;
}
html body .root .grid .card.state::before {
  border-radius: 10px 10px 0px 0px;
  background-color: #6f76c8;
  background-repeat: no-repeat;
  margin-bottom: -10px;
  background-position-x: calc(100% - 20px);
}
html body .root .grid .card.state.work::before {
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
  background-position-y: -10px;
}
html body .root .grid .card.state.play::before {
  background-color: #56c2e6;
  background-image: url(../images/icon-play.svg);
  background-position-y: -5px;
}
html body .root .grid .card.state.study::before {
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
  background-position-y: -5px;
}
html body .root .grid .card.state.exercise::before {
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
  background-position-y: 0px;
}
html body .root .grid .card.state.social::before {
  background-color: #7536d3;
  background-image: url(../images/icon-social.svg);
  background-position-y: -15px;
}
html body .root .grid .card.state.self-care::before {
  background-color: #f1c65b;
  background-image: url(../images/icon-self-care.svg);
  background-position-y: -10px;
}
html body .root .grid .card.state .container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #1c1f4a;
  cursor: pointer;
}
html body .root .grid .card.state .container:hover {
  background-color: #292f70;
}
html body .root .grid .card.state .container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html body .root .grid .card.state .container header .title {
  font-weight: 400;
  color: #fafafa;
  font-size: 1rem;
  line-height: 1rem;
  min-height: 1rem;
}
html body .root .grid .card.state .container header .ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: brightness(0.8);
  transition: filter 0.1s;
}
html body .root .grid .card.state .container header .ellipsis:hover {
  filter: brightness(1.2);
}
html body .root .grid .card.state .container .current {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;
  min-height: 3rem;
  color: #fafafa;
  margin-top: 1.5rem;
}
html body .root .grid .card.state .container footer .previous {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
  min-height: 0.75rem;
  color: #bdc1ff;
  margin-top: 0.5rem;
}
html body .root .grid > footer {
  grid-column: 1/span 4;
}
html body .root .grid > footer .attribution {
  font-size: 0.75rem;
  text-align: center;
  grid-column: 1/span 3;
  color: #bdc1ff;
}
html body .root .grid > footer .attribution a {
  color: #f0f1ff;
}
@media screen and (max-width: 530px) {
  html body .root .grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  html body .root .grid .card.profile {
    grid-row: 1/span 1;
  }
  html body .root .grid .card.profile .container {
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 1rem;
  }
  html body .root .grid .card.profile .container .image {
    grid-row: 1/span 2;
  }
  html body .root .grid .card.profile .container .label {
    margin-top: 0;
  }
  html body .root .grid .card.profile .container .title {
    font-size: 1.5rem;
  }
  html body .root .grid .card.profile nav .list {
    flex-direction: row;
    justify-content: space-between;
  }
  html body .root .grid .card.state::before {
    content: "";
    height: 45px;
  }
  html body .root .grid .card.state .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1c1f4a;
    justify-content: space-between;
    cursor: pointer;
  }
  html body .root .grid .card.state .container header {
    grid-column: 1/span 2;
  }
  html body .root .grid .card.state .container main .current {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  html body .root .grid .card.state .container footer {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  html body .root .grid > footer {
    grid-column: 1/span 1;
  }
  html body .root .grid > footer .attribution {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
@media screen and (min-width: 531px) and (max-width: 768px) {
  html body .root .grid {
    grid-template-columns: repeat(2, minmax(200px, 250px));
  }
  html body .root .grid .card.profile {
    grid-row: 1/span 2;
  }
  html body .root .grid .card.profile nav .list {
    flex-direction: row;
    justify-content: space-between;
  }
  html body .root .grid > footer {
    grid-column: 1/span 2;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html body .root .grid {
    grid-template-columns: repeat(3, minmax(200px, 250px));
  }
  html body .root .grid .card.profile {
    grid-row: 1/span 3;
  }
  html body .root .grid .card.profile nav .list {
    flex-direction: row;
    justify-content: space-between;
  }
  html body .root .grid > footer {
    grid-column: 1/span 3;
  }
}

/*# sourceMappingURL=index.css.map */
